.title-menu {
	color: #fff !important;
	font-weight: bold;
}

.main-menu {
	background-color: #184357;
}

.list-menu a {
	color: #ababab !important;
}

.list-menu a:hover, .list-menu a:focus {
	color: #fff !important;
	background-color: transparent !important;
}

.submit-button {
	background-color: #eda73d !important;
	border-color: #eda73d !important;
	color: #fff;
}