<div class="wrapper-area">
    <div class="inner-page-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb-area">
                        <h1>Seu carrinho</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Área do Carrinho de Compra -->
    <div class="cart-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cart-page-top table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td class="cart-form-heading"></td>
                                    <td class="cart-form-heading">Produto</td>
                                    <td class="cart-form-heading">Preço</td>
                                    <td class="cart-form-heading">Quantidade</td>
                                    <td class="cart-form-heading">Total</td>
                                    <td class="cart-form-heading"></td>
                                </tr>
                            </thead>
                            <tbody id="quantity-holder">
                                <tr ng-repeat="product in products | orderBy:'name'">
                                    <td><img ng-src="{{product.photos[0]}}"
                                        style="width: 100px; height: 150px;"></td>
                                        <td>{{product.name}}</td>
                                        <td><p class="card-text">R$ {{product.price}},00</p></td>
                                        <td><p class="card-text">{{product.quantity}}</p></td>
                                        <td><p class="card-text">R$</td>
                                        <td><a href=""
                                                style="color: #111"><i class="fa fa-times"
                                                aria-hidden="true"></i></a></td>    
                                </tr>
                                    </tbody>
                                </table>
                                <div class="update-button">
                                    <a class="btn-apply-coupon disabled float-right" id="teste"
                                    href="/home">Continuar Comprando</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="cart-page-bottom-right">
                                <h3>
                                    Total: R$
                                </h3>
                                <div class="proceed-button">
                                    <a class="btn-apply-coupon disabled" id="teste" href="/checkout">Finalizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>