<div class="card-columns">
    <div class="card" style="width: 18rem; margin-top: 20px;" ng-repeat="product in products">
    <a ng-href="/product/{{product.id}}">
      <img class="card-img-top" ng-src="{{product.photos[0]}}" alt="Card image cap">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a ng-href="/product/{{product.id}}" class="btn btn-info">Ver Detalhes</a>
    </div>
  </div>
</div>
